.container-projects{
    position: relative;
    align-items: center;
    transition: background-color 0.5s;
}

.project {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.project img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}

.flex-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    flex: 1 1 200px;
    justify-content: center;
}

