* {
    margin: 0;
    padding: 0;
}

.container-intro {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(55, 64, 66);
    transition: background-color 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
}

.name {
    padding: 0;
    font-size: 14vw;
    line-height: .76em;
    color: rgb(252, 252, 252);
    margin-right: 3vw;
    
}

.first {
    margin-right: 6vw;
}

.role {
    margin-top: 1em;
    color: rgba(252, 252, 252, 0.479);
    
    margin-right: 6vw;
}

.buttons {
    margin-top: 2em;
}
.buttons a {
    margin-right: 6vw;
}


.cta-button {
    margin-top: 1em;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: #244d49; 
    font-size: 1em;
    padding: 0.8em;
    box-shadow: 0 8px 16px 0 rgba(55, 64, 66,0.2), 0 6px 20px 0 rgba(55, 64, 66,0.19);
    transition: all 0.5s;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ffffff91;
}

/* 

@media (min-width: 600px) {
    
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .name {
        position: relative;
        left: 12%;
    }

    h1 {
        margin: 0;
        font-size: 6vw;
    }

    .role {
        margin: 0;
        position: relative;
        left: 12%;
    }

    h2 {
        margin: 0;
        font-size: 3vw;
    }

    .logo {
        position: relative;
        left: 36%;
        top: 10%;
    }

    img {
        width: 57vw;
        max-height: auto;
    }

    .intro-nav {
        width: 100vw;
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        align-items: flex-start;
        margin: 0em;
        top: 18%
    }
    
    .intro-nav a {
        display: inline;
        color: black;
        padding: 1em 1em;
        transition: all 0.5s;
        margin: 0;
        position: relative;
        left: 12%;
        
    }
    
    .intro-nav a:hover {
        color: #6db5a4ff;
        font-size: 1.2em;
    }
    
} */
