.card {
    width: 70vw;
    max-width: 700px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
}
.card h3 {
    transition: color 0.5s;
}

.title {
  font-size: min(1em, 35px);
}

.card img {
    display: block;
}

.card:hover h3 {
    color: #11bb99;
}

.description {
    margin: 1em;
}

.skills {
    margin: 1em;
}

.links {
    margin: 0.5em;
}

.links a{
    padding-right: 1em;
}