.container-about{
    max-width: 100%;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 16px;
    align-items: center;
}

.profile-pic{
    width: 10em;
    max-width: 400px;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.summary {
    margin: 1em;
    max-width: 800px;
}

.summary h4 {
    margin-top: 16px;
}


.skill-areas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-area {
    width: 400px;
}

.skill-area h4 {
    text-decoration: underline;
}

.skills {
    list-style-type: none;
    margin: 16px;
}