.container-contact{
    height: 100%;
    max-width: 100%;
}

.container-contact h4 {
    margin: 16px 0;
}
.contact-methods {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contact-methods a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.contact-methods li {
    margin: 8px auto;
    display: flex;
}

.contact-methods p {
    padding-right: 3em;
}

.contact-methods img {
    margin-right: .5em;
}

