.container-contact {
    border-top: 1px solid rgba(119, 119, 119, 0.185);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-methods { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-methods a {
    color: rgb(29, 30, 31);
    text-decoration: none;
    align-items: center;
    display: block;
    padding: min(2em, 16px);
    font-size: min(1em, 16px);
    margin: 0 32px 0 32px;
}


@media screen and (max-width: 600px) {
  .contact-methods a {
      content: none;
      color: transparent;
      font-size: 0;
      line-height: 0;
      padding: 2em;
  }
  .contact-methods a::after {
      margin: 1em;

  }
  .contact-methods {
      margin: 1em;
  }

}

.container-contact img {
    margin-right: .5em;
}

.container-contact p {
    font-size: 12px;
}